.vs/
packages/

ClientUI/bin
ClientUI/obj
ClientUI/Properties
ClientUI/ClientUI.csproj.user
ClientUI/FormWithResults.resx

AdministratorUI/bin
AdministratorUI/obj
AdministratorUI/Properties
AdministratorUI/MainForm.resx

RandomCutForest/bin
RandomCutForest/obj
RandomCutForest/Properties

RandomCutForestTests/bin
RandomCutForestTests/obj
RandomCutForestTests/Properties

Sensor/bin
Sensor/obj
Sensor/Properties

SensoreService/bin
SensoreService/obj
SensoreService/Properties
SensoreService/SensorService.csproj.user
SensoreService/Web.Debug.config
SensoreService/Web.Release.config
