<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SensorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SensoreService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="sensoreBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="endPointPOSTBehavior">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="sensoreBehavior" name="SensorService.Service">
        <endpoint address="" behaviorConfiguration="endPointPOSTBehavior"
          binding="webHttpBinding" contract="SensorService.IService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>   
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>

  <applicationSettings>
    <SensorService.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=Sensors;Integrated Security=True</value>
      </setting>
      <setting name="treeCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="samplingRatio" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="shingle" serializeAs="String">
        <value>3</value>
      </setting>
    </SensorService.Properties.Settings>
    <SensoreService.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=Sensors;Integrated Security=True</value>
      </setting>
    </SensoreService.Properties.Settings>
  </applicationSettings>
</configuration>
